body{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    font-family: demon;
}
@font-face {
    font-family: demon;
    src: url(OldLondon.ttf);
}
.div{
    border: 2px solid black;
}
#body-1{
    background-image: url(background1.jpg);
    background-size: contain;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#logo{
    display: flex;
    justify-content: left;
    width: 180px;
    height: 180px;


}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    padding: 0%;
    color: aliceblue;
    text-shadow: 0 0 20px black;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn{
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #f0f8ff8f;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border: 1px solid black;
    margin: 0px 20px 20px 20px;
}
.btn:hover{
    background-color: #b4b4b48f;
}
#about-2{
    display: block;
}
#divider-1{
display: flex;
justify-content: space-evenly;
align-items: center;
font-family: demon;
font-size: 20px;
background-color: black;
box-shadow: 0 0 100px black;
color: aliceblue;
text-align: center;
width: 100%;
height: 75px;
}
#container-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(background2.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}
.img-1{
    max-width: 50%;
    max-height: 500px;
    min-width: 10%;
    min-height: 10%;
    border-radius: 5%;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}
.text-box{
    display:block;
    text-shadow: 0 0 10px black;
    color: aliceblue;
    font-size: 28px;
    width: 300px;
    height: 500px;
}
.text-box-h2{
    text-align: center;
}
#container-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(background3.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}
.text-box-li{
    display:block;
    text-shadow: 0 0 20px rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 28px;
    width: 380px;
    height: 500px;
}